body {
  background-color: #212121;
  color: #CCC; }

.focus-meter .point-wrapper {
  width: 324px; }

.focus-meter .fresh, .focus-meter .consumed, .focus-meter .exhausted, .focus-meter .channeled {
  width: 25px;
  height: 25px;
  border: 1px solid #CCC;
  border-radius: 3px;
  float: left;
  margin: 1px; }

.focus-meter .fresh {
  background-color: #444; }

.focus-meter .channeled {
  background-color: #444;
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 0px, transparent 0px, transparent 15px, #CCC 0px, #CCC 17px); }

.focus-meter .consumed {
  background-color: #444;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 0px, transparent 0px, transparent 15px, #CCC 0px, #CCC 17px), repeating-linear-gradient(-45deg, transparent, transparent 0px, transparent 0px, transparent 15px, #CCC 0px, #CCC 17px); }

.focus-meter .exhausted {
  background-color: #444;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 0px, transparent 0px, transparent 15px, #CCC 0px, #CCC 17px), repeating-linear-gradient(-45deg, transparent, transparent 0px, transparent 0px, transparent 15px, #CCC 0px, #CCC 17px), repeating-linear-gradient(0deg, transparent, transparent 0px, transparent 0px, transparent 11px, #CCC 0px, #CCC 13px); }
