<div class="channel-list component">
    <div class="channels">
        <expanel toggled="toggled">
            <exlabel>
                <span>Kanalisiert <i class="fas fa-eye-slash" ng-if="toggled"></i><i class="fas fa-eye" ng-if="!toggled"></i></span>
            </exlabel>
            <excontent>
                <div class="channel-entry" ng-repeat="spell in channels track by $index">
                    <span><button class="btn btn-action" ng-click="dropChannel($index);"><i class="fas fa-times"></i></button></span>
                    <spell spell-id="spell.spellId" view="GRIMOIRE"></spell>
                </div>
            </excontent>
        </expanel>
    </div>
</div>
