@import '../../common/constants';
@import '../../common/layer';

$openBg: $ash;
$openFontColor: $char;
$contentBg: rgba(30,30,30,.98);

.blowup {
  // Base
  .blow-label {
    cursor: pointer;
    user-select: none;
    &:hover {
      color: $openFontColor;
      background-color: $openBg;
    }
  }

  .blow-content {
    position: fixed;
    z-index: $modalLayer + 100;
    right: 0;
    top: $navbarMargin;
    border: 1px solid transparent;
    border-width: 0 0 1px 1px;
    //background: $black_lozenge;
    //background-position-x: -1px;
    //background-position-x: -4px;
    background-color: $char_t;
    padding: 20px 20px;
    opacity: 0;
    border-radius: 0 0 0 50%;
    -webkit-transition: opacity 200ms, border-color 400ms;
  }

  &.closed { // Closed
    .blow-content {
      left: 100%;
      opacity: 0;
      pointer-events: none;
    }
  }

  &:hover, &.open { // Open
    .blow-label {
      color: $openFontColor;
      background-color: $openBg;
    }

    .blow-content {
      right: 0;
      left: 50%;
      opacity: .98;
      border-color: $ash;
      border-radius: 0%;
      &:hover {
        display: block;
      }
    }
  }

  &.open {
    .blow-content {
      display: block !important;
    }
  }

}