<div class="focus-meter component">
    <div class="actions">
        <button class="btn btn-action" ng-click="refresh()"><i class="fas fa-sync"></i></button>
    </div>
    <div class="focus-info">
        <div>Fokus {{focus.t}}</div>
        <div>Regeneration {{reg}}</div>

    </div>
    <div class="point-wrapper">
        <div class="consumed" ng-repeat="point in consumedBox track by $index"></div>
        <div class="exhausted" ng-repeat="point in exhaustedBox track by $index"></div>
        <div class="channeled" ng-repeat="point in channeledBox track by $index"></div>
        <div class="fresh" ng-repeat="point in freshBox track by $index"></div>
    </div>
</div>
