@import '../common/constants';

.character-sheet {
  .layout-container {
    display: flex;

    .left-box, .center-box, .right-box {
      padding: 0 15px;
    }
    .left-box {
      width: 33.333333333333%;
    }
    .center-box {
      display: table-cell;
      width: 33.33333333333333%;
    }
    .right-box {
      width: 33.3333333333333%;
    }
  }
}
