<div class="health-meter">
    <div class="box-stack">
        <div class="health unharmed">
            <span class="state-label">Unverletzt</span>
            <div class="malus">&nbsp;0</div>
            <div class="point-wrapper">
                <div ng-repeat="point in unharmedBox track by $index" ng-class="point.state"></div>
            </div>
        </div>
        <div class="health hurt">
            <span>Angeschlagen</span>
            <div class="malus">-1</div>
            <div class="point-wrapper">
                <div ng-repeat="point in hurtBox track by $index" ng-class="point.state"></div>
            </div>
        </div>
        <div class="health injured">
            <span>Verletzt</span>
            <div class="malus">-2</div>
            <div class="point-wrapper">
                <div ng-repeat="point in injuredBox track by $index" ng-class="point.state"></div>
            </div>
        </div>
        <div class="health badly-injured">
            <span>Schwer verletzt</span>
            <div class="malus">-4</div>
            <div class="point-wrapper">
                <div ng-repeat="point in badlyInjuredBox track by $index" ng-class="point.state"></div>
            </div>
        </div>
        <div class="health dying">
            <span>Todgeweiht</span>
            <div class="malus">-8</div>
            <div class="point-wrapper">
                <div ng-repeat="point in dyingBox track by $index" ng-class="point.state"></div>
            </div>
        </div>
    </div>
</div>

