<div class="crafts-table">
    <expanel realm="crafts">
        <exlabel>
            <span class="panel-label">{{label}}</span>
        </exlabel>
        <excontent>
            <div class="craft-info">
                <table>
                    <tr ng-repeat="craft in crafts track by $index">
                        <td class="craft-name">
                            <span ng-bind-html="craft.name"></span>
                        </td>
                        <td class="craft-stat">
                            <span>{{craft.stat0}}</span>
                        </td>
                        <td class="craft-stat">
                            <span>{{craft.stat0}}</span>
                        </td>
                        <td class="craft-skill">
                            <span>{{craft.skill.value}}</span>
                        </td>
                        <td class="leveling" ng-if="leveling">
                            <div class="wrapper">
                                <div class="inc" ng-disabled="lowest(craft)" ng-click="sub(craft)"><i class="fas fa-minus-circle"></i></div>
                                <div class="inc" ng-disabled="!highest(craft)" ng-click="add(craft)"><i class="fas fa-plus-circle"></i></div>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </excontent>
    </expanel>
</div>
