@import '../common/constants';
@import '../common/layer';

.character-selection {
  .character-wrapper {
    text-align: center;
    .character {
      &:hover {
        background: $ash;
        color: $char;
      }
      span {
        display: inline-block;
        text-align: left;
        cursor: pointer;
        user-select: none;
        &.name {
          width: 150px;
        }
        &.education {
          width: 150px;
        }
        &.race {
          width: 150px;
        }
        &.level {
          width: 25px;
        }
      }
    }
  }
  .info {
    width: 100%;
    text-align: center;
  }
  .actions {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
  }
  &:hover {
    .actions {
      display: block;
      z-index: $baseLayer + 300;
      .ac {

      }
    }
  }
  .shard-wrapper {
    width: 100%;
  }
}
