@import '../common/constants';

$seperatorColor: $stone;

.spell {
  .spell-label {
    display: inline-flex;
    padding-left: 5px;
    .tier {
      width: 20px;
      display: inline-block;
    }
  }
  .charSkill {
    margin-left: 5px;
  }
  .spell-cost {
    span {
      &:first-of-type {
        margin-right: -3px;
      }
      &:nth-of-type(2) {
        margin-right: 0px;
      }
    }
  }
  .close-blow {
    position: absolute;
    left: -6px;
    top: 10px;
    width: 20px;
    height: 20px;
    border: 1px solid $ash;
    background: $tar;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .spell-info-wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    &::-webkit-scrollbar {
      display: none;
    }
    .description, .empower-description {
      width: 100%;
      border: 1px solid $seperatorColor;
      border-width: 1px 0;
    }
    .name {
      font-size: $fontBig;
      font-weight: 700;
    }
    table {
      width: 100%;
      tr {
        td:first-of-type {
          width: 135px;
        }
      }
    }
  }
  .modal {
    label {
      width: 40%;
    }
    input {
      width: 32px;
    }
    .form-line {
      justify-content: center;
    }
  }
}