@import '../../common/constants';

$focus-line-color: $mana;
$focus-bg-color: $mana_muted;

.crafts-table {
  width: 100%;
  .craft-info {
    overflow-y: scroll;
    max-height: 50vh;
    &::-webkit-scrollbar {
      display: none;
    }
    table {
      width: 100%;
      font-size: $fontSmall;
      .craft-name {
        width: 34%;
        padding-left: 10px;
      }
      .craft-stat {
        width: 1%;
      }
      .craft-skill {
        width: 1%;
        text-align: right;
      }
      .leveling {
        width: 10%;
        .wrapper {
          display: flex;
          justify-content: space-around;
        }
        .inc {
          cursor: pointer;
          font-size: 0.8em;
        }
      }
      td {
        width: 1px;
      }
    }
  }
}