@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/Titillium_Web/TitilliumWeb-Light.ttf"); }
@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/Titillium_Web/TitilliumWeb-Light.ttf"); }
html {
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  height: 100%;
  background: url("../../assets/images/black_lozenge.png");
  color: #CCC;
  font-family: Titillium Web;
  font-size: 1em; }
  body::-webkit-scrollbar {
    display: none; }

#nav {
  position: static; }

#content {
  background: url("../../assets/images/gagamba_transparent.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 21%;
  position: absolute;
  z-index: 0;
  top: 44px;
  bottom: 0;
  left: 0;
  right: 0; }

#books-anchor {
  display: none;
  position: fixed;
  top: 42px;
  bottom: 0;
  left: 0;
  right: 0; }

.hundred {
  width: 100%;
  height: 100%; }

.point-wrapper .fresh, .point-wrapper .consumed, .point-wrapper .exhausted, .point-wrapper .channeled {
  width: 25px;
  height: 25px;
  border-radius: 3px;
  float: left;
  margin: 1px; }

@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/Titillium_Web/TitilliumWeb-Light.ttf"); }
.btn-action {
  padding: 0;
  border-radius: 0;
  width: 15px;
  height: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: .7em;
  background: none;
  color: #CCC;
  -webkit-transform: scaleX(-1); }

@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/Titillium_Web/TitilliumWeb-Light.ttf"); }
.navigation {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  height: 43px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(32, 32, 32, 0.8);
  border-bottom: 1px solid #dcdcdc; }
  .navigation .btn {
    padding: 5px;
    background-color: #1f1f1f;
    border-radius: 1px;
    border: 1px solid #dcdcdc;
    color: #CCC;
    min-width: 36px; }
    .navigation .btn:hover {
      background-color: #CCC;
      color: #212121; }
  .navigation .space {
    width: 20px; }
  .navigation .warning {
    color: #BB0000; }
  .navigation .left-side {
    display: flex; }
  .navigation .right-side {
    display: flex; }
  .navigation .dropout-anchor {
    position: relative; }
    .navigation .dropout-anchor .dropout {
      display: none;
      flex-direction: column;
      background-color: rgba(33, 33, 33, 0.9);
      position: absolute;
      top: 33px;
      left: -12px;
      width: 190px;
      z-index: -100;
      border: 1px solid rgba(204, 204, 204, 0.9); }
      .navigation .dropout-anchor .dropout a, .navigation .dropout-anchor .dropout a:visited, .navigation .dropout-anchor .dropout a:focus, .navigation .dropout-anchor .dropout a:active {
        color: #CCC;
        padding: 4px 17px;
        line-height: 1.2;
        text-decoration: none; }
        .navigation .dropout-anchor .dropout a:hover, .navigation .dropout-anchor .dropout a:visited:hover, .navigation .dropout-anchor .dropout a:visited:hover, .navigation .dropout-anchor .dropout a:visited:visited:hover, .navigation .dropout-anchor .dropout a:focus:hover, .navigation .dropout-anchor .dropout a:focus:visited:hover, .navigation .dropout-anchor .dropout a:active:hover, .navigation .dropout-anchor .dropout a:active:visited:hover {
          background-color: rgba(204, 204, 204, 0.9);
          color: #212121;
          text-decoration: none; }
    .navigation .dropout-anchor:hover .dropout {
      display: flex; }

.nav-spacer {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 25px; }

@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/Titillium_Web/TitilliumWeb-Light.ttf"); }
#main {
  padding: 20px; }

@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/Titillium_Web/TitilliumWeb-Light.ttf"); }
#grimoire {
  padding: 20px; }
  #grimoire .school-label {
    padding-left: 2px;
    border: 0px solid #333;
    border-top-width: 1px; }
  #grimoire .spell-list-wrapper {
    padding: 10px;
    padding-top: 2px;
    width: 50%;
    height: 30em;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap; }
  #grimoire .spell-wrapper {
    width: 48%;
    float: left; }

@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/Titillium_Web/TitilliumWeb-Light.ttf"); }
.electron-in-page-search-window {
  display: none;
  position: absolute;
  top: 89px;
  right: 18px;
  height: 37px;
  background: #323639;
  border-radius: 5px 0 0 5px; }

.electron-in-page-search-window.search-active {
  *display: block !important; }

@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/Titillium_Web/TitilliumWeb-Light.ttf"); }
.expanel .exp-label {
  cursor: pointer;
  user-select: none; }
  .expanel .exp-label:hover {
    color: #212121;
    background-color: #CCC; }
.expanel .exp-content {
  overflow: hidden; }
.expanel.open {
  margin-bottom: 10px; }
  .expanel.open .exp-label {
    color: #212121;
    background-color: #CCC; }
  .expanel.open .exp-content {
    margin-top: 5px; }
.expanel.closed .exp-content {
  height: 0px; }

@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/Titillium_Web/TitilliumWeb-Light.ttf"); }
.blowup .blow-label {
  cursor: pointer;
  user-select: none; }
  .blowup .blow-label:hover {
    color: #212121;
    background-color: #CCC; }
.blowup .blow-content {
  position: fixed;
  right: 0;
  top: 42px;
  border: 1px solid transparent;
  border-width: 0 0 1px 1px;
  background: url("../../assets/images/black_lozenge.png");
  background-position-x: -1px;
  background-position-x: -4px;
  padding: 20px 20px;
  opacity: 0;
  border-radius: 0 0 0 50%;
  -webkit-transition: opacity 200ms, border-color 400ms; }
.blowup.closed .blow-content {
  left: 100%;
  opacity: 0;
  pointer-events: none; }
.blowup:hover .blow-label, .blowup.open .blow-label {
  color: #212121;
  background-color: #CCC; }
.blowup:hover .blow-content, .blowup.open .blow-content {
  right: 0;
  left: 50%;
  opacity: .98;
  border-color: #CCC;
  border-radius: 0%; }
.blowup.open .blow-content {
  display: block !important; }

@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/Titillium_Web/TitilliumWeb-Light.ttf"); }
.character-sheet .layout-container .component {
  position: relative; }
.character-sheet .layout-container .component > .actions {
  position: absolute;
  right: 0;
  top: 0;
  display: none; }
.character-sheet .layout-container .component:hover .actions {
  display: inline-block; }
.character-sheet .layout-container .left-box, .character-sheet .layout-container .center-box, .character-sheet .layout-container .right-box {
  padding: 0 15px; }
.character-sheet .layout-container .left-box {
  *width: 33.333333333333%; }
.character-sheet .layout-container .center-box {
  display: table-cell;
  *width: 33.33333333333333%; }
.character-sheet .layout-container .right-box {
  *width: 33.3333333333333%; }
.character-sheet .blow-content {
  font-size: .8em;
  right: 33.33333333% !important;
  left: 33.33333333% !important;
  top: 44% !important;
  bottom: 20px !important;
  border-radius: 0 !important;
  border-width: 1px !important;
  background: none !important; }

@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/Titillium_Web/TitilliumWeb-Light.ttf"); }
.focus-meter {
  width: 324px;
  height: 100px; }
  .focus-meter .point-wrapper {
    width: 100%; }
  .focus-meter .fresh, .focus-meter .consumed, .focus-meter .exhausted, .focus-meter .channeled {
    width: 25px;
    height: 25px;
    border: 1px solid #9CF;
    background-color: #303037;
    border-radius: 3px;
    float: left;
    margin: 1px; }
  .focus-meter .channeled {
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 0px, transparent 0px, transparent 15px, #9CF 0px, #9CF 17px); }
  .focus-meter .exhausted {
    background-image: repeating-linear-gradient(45deg, transparent, transparent 0px, transparent 0px, transparent 15px, #9CF 0px, #9CF 17px), repeating-linear-gradient(-45deg, transparent, transparent 0px, transparent 0px, transparent 15px, #9CF 0px, #9CF 17px); }
  .focus-meter .consumed {
    background-image: repeating-linear-gradient(45deg, transparent, transparent 0px, transparent 0px, transparent 15px, #9CF 0px, #9CF 17px), repeating-linear-gradient(-45deg, transparent, transparent 0px, transparent 0px, transparent 15px, #9CF 0px, #9CF 17px), repeating-linear-gradient(0deg, transparent, transparent 0px, transparent 0px, transparent 11px, #9CF 0px, #9CF 13px); }

@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/Titillium_Web/TitilliumWeb-Light.ttf"); }
.health-meter {
  width: 420px;
  height: 150px; }
  .health-meter .box-stack {
    display: table;
    width: 100%; }
    .health-meter .box-stack .health {
      display: table-row;
      width: 100%; }
      .health-meter .box-stack .health .state-label {
        display: table-cell;
        width: 23%;
        color: #777;
        font-size: .9em; }
        .health-meter .box-stack .health .state-label.active {
          color: #CCC; }
      .health-meter .box-stack .health .malus {
        display: table-cell;
        text-align: right;
        padding-right: 8px;
        width: 5%; }
      .health-meter .box-stack .health .point-wrapper {
        display: table-cell;
        text-align: right;
        vertical-align: bottom;
        width: 60%; }
  .health-meter .fresh, .health-meter .consumed, .health-meter .exhausted, .health-meter .channeled {
    width: 25px;
    height: 25px;
    border: 1px solid #C66;
    background-color: #373030;
    border-radius: 3px;
    float: left;
    margin: 1px; }
  .health-meter .channeled {
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 0px, transparent 0px, transparent 15px, #C66 0px, #C66 17px); }
  .health-meter .exhausted {
    background-image: repeating-linear-gradient(45deg, transparent, transparent 0px, transparent 0px, transparent 15px, #C66 0px, #C66 17px), repeating-linear-gradient(-45deg, transparent, transparent 0px, transparent 0px, transparent 15px, #C66 0px, #C66 17px); }
  .health-meter .consumed {
    background-image: repeating-linear-gradient(45deg, transparent, transparent 0px, transparent 0px, transparent 15px, #C66 0px, #C66 17px), repeating-linear-gradient(-45deg, transparent, transparent 0px, transparent 0px, transparent 15px, #C66 0px, #C66 17px), repeating-linear-gradient(0deg, transparent, transparent 0px, transparent 0px, transparent 11px, #C66 0px, #C66 13px); }

@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/Titillium_Web/TitilliumWeb-Light.ttf"); }
.channel-list {
  width: 324px;
  height: 100px; }
  .channel-list .channel-entry {
    display: flex;
    flex-direction: row; }

@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/Titillium_Web/TitilliumWeb-Light.ttf"); }
.character-base-props {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  .character-base-props .char-name {
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 5px;
    font-size: 25px; }
  .character-base-props .char-attributes ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .character-base-props .char-attributes ul li {
      border: 4px solid transparent;
      text-align: center;
      align-items: center;
      width: 35px;
      height: 35px;
      display: flex;
      flex-direction: column;
      margin: 0 2px;
      border-radius: 17%;
      font-size: 16px;
      line-height: .8;
      background-color: #333; }
      .character-base-props .char-attributes ul li label {
        margin-bottom: .4em; }
      .character-base-props .char-attributes ul li.char {
        border-color: #403535; }
      .character-base-props .char-attributes ul li.agi {
        border-color: #303730; }
      .character-base-props .char-attributes ul li.int {
        border-color: #373737; }
      .character-base-props .char-attributes ul li.con {
        border-color: #373030; }
      .character-base-props .char-attributes ul li.mys {
        border-color: #303037; }
      .character-base-props .char-attributes ul li.str {
        border-color: #3C3535; }
      .character-base-props .char-attributes ul li.wit {
        border-color: #373037; }
      .character-base-props .char-attributes ul li.wil {
        border-color: #22303A; }
  .character-base-props .char-properties {
    display: flex;
    justify-content: space-between;
    width: 100%; }
    .character-base-props .char-properties table {
      font-size: 13px;
      width: 200px;
      float: left; }
      .character-base-props .char-properties table td {
        vertical-align: top; }
      .character-base-props .char-properties table tr {
        background-color: rgba(48, 48, 48, 0.5); }
      .character-base-props .char-properties table tr:nth-child(2n) {
        background-color: rgba(48, 48, 48, 0.2); }

@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/Titillium_Web/TitilliumWeb-Light.ttf"); }
.moonshards {
  width: 100%;
  height: 100px;
  position: relative; }
  .moonshards .shard-outer {
    border-radius: 50%;
    border: 1px solid #1f1f1f;
    width: 50px;
    height: 48px;
    float: left;
    padding: 2px; }
    .moonshards .shard-outer .shard {
      position: relative;
      border-radius: 50%;
      width: 100%;
      height: 100%; }
      .moonshards .shard-outer .shard.fresh {
        background: url("../../assets/images/full-bloom.png");
        box-shadow: inset 18px -13px 22px 2px rgba(0, 0, 0, 0.5), inset -56px 14px 9px -53px rgba(255, 255, 255, 0.52); }
      .moonshards .shard-outer .shard.spent {
        background: #1f1f1f;
        box-shadow: inset -9px 5px 26px 15px rgba(0, 0, 0, 0.4); }
    .moonshards .shard-outer .cracks {
      background: url("../../assets/images/congruent_outline.png");
      background-size: 129%;
      display: none;
      border-radius: 50%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
    .moonshards .shard-outer:hover .fresh .cracks {
      position: absolute;
      display: block; }

@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/Titillium_Web/TitilliumWeb-Light.ttf"); }
.tome .spell {
  display: flex;
  align-items: center; }

@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/Titillium_Web/TitilliumWeb-Light.ttf"); }
.character-selection .character-wrapper {
  text-align: center; }
  .character-selection .character-wrapper .character:hover {
    background: #CCC;
    color: #212121; }
  .character-selection .character-wrapper .character span {
    display: inline-block;
    text-align: left;
    cursor: pointer;
    user-select: none; }
    .character-selection .character-wrapper .character span.name {
      width: 150px; }
    .character-selection .character-wrapper .character span.education {
      width: 150px; }
    .character-selection .character-wrapper .character span.race {
      width: 150px; }
    .character-selection .character-wrapper .character span.level {
      width: 25px; }
.character-selection .info {
  width: 100%;
  text-align: center; }
.character-selection .actions {
  display: none;
  position: absolute;
  top: 0;
  right: 0; }
.character-selection:hover .actions {
  display: block;
  z-index: 300; }
.character-selection .shard-wrapper {
  width: 100%; }

@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/Titillium_Web/TitilliumWeb-Light.ttf"); }
.spell .spell-label {
  display: inline-flex;
  padding-left: 5px; }
  .spell .spell-label .tier {
    width: 20px;
    display: inline-block; }
.spell .charSkill {
  margin-left: 5px; }
.spell .spell-cost span:first-of-type {
  margin-right: -3px; }
.spell .spell-cost span:nth-of-type(2) {
  margin-right: 0px; }
.spell .close-blow {
  position: absolute;
  left: -6px;
  top: 10px;
  width: 20px;
  height: 20px;
  border: 1px solid #CCC;
  background: #212121;
  display: flex;
  justify-content: center;
  align-items: center; }
.spell .spell-info-wrapper {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%; }
  .spell .spell-info-wrapper::-webkit-scrollbar {
    display: none; }
  .spell .spell-info-wrapper .description, .spell .spell-info-wrapper .empower-description {
    width: 100%;
    border: 1px solid #333;
    border-width: 1px 0; }
  .spell .spell-info-wrapper table {
    width: 100%; }
    .spell .spell-info-wrapper table tr td:first-of-type {
      width: 135px; }

@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/Titillium_Web/TitilliumWeb-Light.ttf"); }
.book {
  position: relative;
  width: 100%;
  height: 100%; }
  .book .search-button {
    position: absolute;
    right: 17px;
    top: -2px;
    padding: 13px 8px;
    background: transparent;
    border: 0;
    border-radius: 0 0 0 5px;
    color: #dcdcdc;
    z-index: 100; }
  .book .pdf-view {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10; }

/*# sourceMappingURL=style.css.map */
