html {
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  height: 100%;
  background: url("../../assets/images/black_lozenge.png");
  color: #CCC; }

#nav {
  position: static; }

#content {
  background: url("../../assets/images/gagamba_transparent.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 21%;
  position: absolute;
  z-index: 0;
  top: 44px;
  bottom: 0;
  left: 0;
  right: 0; }

.hundred {
  width: 100%;
  height: 100%; }

.point-wrapper .fresh, .point-wrapper .consumed, .point-wrapper .exhausted, .point-wrapper .channeled {
  width: 25px;
  height: 25px;
  border-radius: 3px;
  float: left;
  margin: 1px; }

.navigation {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  height: 43px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(32, 32, 32, 0.5);
  border-bottom: 1px solid #dcdcdc; }
  .navigation .btn {
    padding: 5px;
    background-color: #1f1f1f;
    border-radius: 1px;
    border: 1px solid #dcdcdc;
    color: #CCC; }
  .navigation .left-side {
    display: flex; }
  .navigation .right-side {
    display: flex; }

.nav-spacer {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 25px; }

#main {
  padding: 20px; }

#grimoire {
  padding: 20px; }
  #grimoire .spell-wrapper {
    width: 20%;
    float: left; }

#books {
  position: relative; }
  #books .pdf-view {
    width: 100%;
    height: 100%; }
  #books .search-button {
    position: absolute;
    right: 17px;
    top: -2px;
    padding: 13px 8px;
    background: transparent;
    border: 0;
    border-radius: 0 0 0 5px;
    color: #dcdcdc; }

.electron-in-page-search-window {
  position: absolute;
  top: 90px;
  right: 18px;
  height: 37px;
  background: #323639;
  border-radius: 5px 0 0 5px; }

.focus-meter {
  width: 324px;
  height: 100px; }
  .focus-meter .point-wrapper {
    width: 100%; }
  .focus-meter .fresh, .focus-meter .consumed, .focus-meter .exhausted, .focus-meter .channeled {
    width: 25px;
    height: 25px;
    border: 1px solid #9CF;
    background-color: #303037;
    border-radius: 3px;
    float: left;
    margin: 1px; }
  .focus-meter .channeled {
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 0px, transparent 0px, transparent 15px, #9CF 0px, #9CF 17px); }
  .focus-meter .exhausted {
    background-image: repeating-linear-gradient(45deg, transparent, transparent 0px, transparent 0px, transparent 15px, #9CF 0px, #9CF 17px), repeating-linear-gradient(-45deg, transparent, transparent 0px, transparent 0px, transparent 15px, #9CF 0px, #9CF 17px); }
  .focus-meter .consumed {
    background-image: repeating-linear-gradient(45deg, transparent, transparent 0px, transparent 0px, transparent 15px, #9CF 0px, #9CF 17px), repeating-linear-gradient(-45deg, transparent, transparent 0px, transparent 0px, transparent 15px, #9CF 0px, #9CF 17px), repeating-linear-gradient(0deg, transparent, transparent 0px, transparent 0px, transparent 11px, #9CF 0px, #9CF 13px); }

.health-meter {
  width: 420px;
  height: 150px; }
  .health-meter .box-stack {
    display: table;
    width: 100%; }
    .health-meter .box-stack .health {
      display: table-row;
      width: 100%; }
      .health-meter .box-stack .health .state-label {
        display: table-cell;
        width: 37%;
        color: #777; }
        .health-meter .box-stack .health .state-label.active {
          color: #CCC; }
      .health-meter .box-stack .health .malus {
        display: table-cell;
        text-align: right;
        padding-right: 5px;
        width: 8%; }
      .health-meter .box-stack .health .point-wrapper {
        display: table-cell;
        text-align: right;
        vertical-align: bottom;
        width: 60%; }
  .health-meter .fresh, .health-meter .consumed, .health-meter .exhausted, .health-meter .channeled {
    width: 25px;
    height: 25px;
    border: 1px solid #C66;
    background-color: #373030;
    border-radius: 3px;
    float: left;
    margin: 1px; }
  .health-meter .channeled {
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 0px, transparent 0px, transparent 15px, #C66 0px, #C66 17px); }
  .health-meter .exhausted {
    background-image: repeating-linear-gradient(45deg, transparent, transparent 0px, transparent 0px, transparent 15px, #C66 0px, #C66 17px), repeating-linear-gradient(-45deg, transparent, transparent 0px, transparent 0px, transparent 15px, #C66 0px, #C66 17px); }
  .health-meter .consumed {
    background-image: repeating-linear-gradient(45deg, transparent, transparent 0px, transparent 0px, transparent 15px, #C66 0px, #C66 17px), repeating-linear-gradient(-45deg, transparent, transparent 0px, transparent 0px, transparent 15px, #C66 0px, #C66 17px), repeating-linear-gradient(0deg, transparent, transparent 0px, transparent 0px, transparent 11px, #C66 0px, #C66 13px); }

.character-base-props {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  .character-base-props .char-name {
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 5px; }
  .character-base-props .char-attributes ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .character-base-props .char-attributes ul li {
      border: 4px solid transparent;
      text-align: center;
      align-items: center;
      width: 35px;
      height: 35px;
      display: flex;
      flex-direction: column;
      margin: 0 2px;
      border-radius: 17%;
      font-size: 16px;
      line-height: .8;
      background-color: #333; }
      .character-base-props .char-attributes ul li label {
        margin-bottom: .4em; }
      .character-base-props .char-attributes ul li.char {
        border-color: #403535; }
      .character-base-props .char-attributes ul li.agi {
        border-color: #303730; }
      .character-base-props .char-attributes ul li.int {
        border-color: #373737; }
      .character-base-props .char-attributes ul li.con {
        border-color: #373030; }
      .character-base-props .char-attributes ul li.mys {
        border-color: #303037; }
      .character-base-props .char-attributes ul li.str {
        border-color: #3C3535; }
      .character-base-props .char-attributes ul li.wit {
        border-color: #373037; }
      .character-base-props .char-attributes ul li.wil {
        border-color: #22303A; }
  .character-base-props .char-properties {
    display: flex;
    justify-content: space-between;
    width: 100%; }
    .character-base-props .char-properties table {
      font-size: 13px;
      width: 200px;
      float: left; }
      .character-base-props .char-properties table td {
        vertical-align: top; }
      .character-base-props .char-properties table tr {
        background-color: rgba(48, 48, 48, 0.5); }
      .character-base-props .char-properties table tr:nth-child(2n) {
        background-color: rgba(48, 48, 48, 0.2); }

.character-sheet .layout-container {
  display: flex; }
  .character-sheet .layout-container .left-box, .character-sheet .layout-container .center-box, .character-sheet .layout-container .right-box {
    padding: 0 15px; }
  .character-sheet .layout-container .left-box {
    width: 33.333333333333%; }
  .character-sheet .layout-container .center-box {
    display: table-cell;
    width: 33.33333333333333%; }
  .character-sheet .layout-container .right-box {
    width: 33.3333333333333%; }

.character-selection .character-wrapper {
  text-align: center; }
  .character-selection .character-wrapper .character:hover {
    background: #CCC;
    color: #212121; }
  .character-selection .character-wrapper .character span {
    display: inline-block;
    text-align: left;
    cursor: pointer;
    user-select: none; }
    .character-selection .character-wrapper .character span.name {
      width: 150px; }
    .character-selection .character-wrapper .character span.education {
      width: 150px; }
    .character-selection .character-wrapper .character span.race {
      width: 150px; }
    .character-selection .character-wrapper .character span.level {
      width: 25px; }
.character-selection .info {
  width: 100%;
  text-align: center; }

.moonshards {
  width: 100%;
  height: 100px;
  position: relative; }
  .moonshards .refresh {
    display: none;
    position: absolute;
    top: 0;
    right: 0; }
  .moonshards:hover .refresh {
    display: block;
    z-index: 300; }
  .moonshards .shard-wrapper {
    width: 100%; }
  .moonshards .shard-outer {
    border-radius: 50%;
    border: 1px solid #1f1f1f;
    width: 84px;
    height: 80px;
    float: left;
    padding: 3px;
    margin: 0 5px; }
    .moonshards .shard-outer .shard {
      position: relative;
      border-radius: 50%;
      width: 100%;
      height: 100%; }
      .moonshards .shard-outer .shard.fresh {
        background: url("../../assets/images/full-bloom.png");
        box-shadow: inset 25px -10px 22px 1px rgba(0, 0, 0, 0.5), inset -56px 14px 9px -53px rgba(255, 255, 255, 0.5); }
      .moonshards .shard-outer .shard.spent {
        background: #1f1f1f;
        box-shadow: inset -9px 5px 26px 15px rgba(0, 0, 0, 0.4); }
    .moonshards .shard-outer .cracks {
      background: url("../../assets/images/congruent_outline.png");
      background-size: 129%;
      display: none;
      border-radius: 50%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
    .moonshards .shard-outer:hover .fresh .cracks {
      position: absolute;
      display: block; }

/*# sourceMappingURL=style.css.map */
