@import '../common/constants';

$searchBtn: $dust;
$searchBg: #323639;

#books {

}

.electron-in-page-search-window {
  display: none;
  position: absolute;
  top: 89px;
  right: 18px;
  height: 37px;
  background: $searchBg;
  border-radius: 5px 0 0 5px;
}

.electron-in-page-search-window.search-active {
  *display: block !important;
}