@import '../common/constants';

$bg_nav: rgba(32, 32, 32, .5);

.navigation {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  height: 43px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: $bg_nav;
  border-bottom: 1px solid $dust;

  .btn {
    padding: 5px;
    background-color: $tar;
    border-radius: 1px;
    border: 1px solid $dust;
    color: $ash;
  }

  .left-side {
    display: flex;
  }
  .right-side {
    display: flex;
  }
}

.nav-spacer {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 25px;
}