$char: #212121;
$tar: #1f1f1f;
$tar2: #1b1e21;
$ash: #CCC;
$dust: #dcdcdc;
$pott: #333;

$mana: #9CF;
$mana_muted: #303037;
$life: #C66;
$life_muted: #373030;
$nature_muted: #303730;
$royal_muted: #331B33;
$orange_muted: #3C3535;
$violet_muted: #373037;
$silver_muted: #373737;
$pink_muted: #403535;
$air_muted: #22303A;

