@import '../common/constants';

$transparent_logo: $gagamba_transparent;
$bg_pattern: $black_lozenge;

html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  background: $bg_pattern;
  color: $ash;
  font-family: Titillium Web;
  font-size: 1em;
  &::-webkit-scrollbar {
    display: none;
  }
}

#nav {
  position: static;
}

#content {
  background: $transparent_logo;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 21%;
  position: absolute;
  z-index: 0;
  top: 44px;
  bottom: 0;
  left: 0;
  right: 0;
}

#books-anchor {
  display: none;
  position: fixed;
  top: 42px;
  bottom: 0;
  left: 0;
  right: 0;
}

.hundred {
  width: 100%;
  height: 100%;
}

.point-wrapper {
  .fresh, .consumed, .exhausted, .channeled {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    float: left;
    margin: 1px;
  }
}