@import '../../common/constants';

$health-line-color: $life;
$health-bg-color: $life_muted;

$inactive-label: #777;

.health-meter {
  width: 100%;
  height: 150px;
  .box-stack {
    width: 100%;
    .health {
      display: flex;
      width: 100%;
      .state-label {
        min-width: 23%;
        padding-top: .1em;
        color: $inactive-label;
        font-size: $fontSmall;
        white-space: nowrap;
        &.active {
          color: $ash;
        }
      }
      .malus {
        text-align: right;
        padding-right: 8px;
        width: 100%;
      }
      .point-wrapper {
        display: inline-flex;
        justify-content: flex-end;
        width: 300px;
      }
    }
  }
  .fresh, .consumed, .exhausted, .channeled {
    width: 25px;
    height: 25px;
    border: 1px solid $health-line-color;
    background-color: $health-bg-color;
    border-radius: 3px;
    float: left;
    margin: 1px;
  }

  .fresh {
  }
  .channeled {
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 0px, transparent 0px, transparent 15px, $health-line-color 0px, $health-line-color 17px);
  }
  .exhausted {
    background-image: repeating-linear-gradient(45deg, transparent, transparent 0px, transparent 0px, transparent 15px, $health-line-color 0px, $health-line-color 17px),
    repeating-linear-gradient(-45deg, transparent, transparent 0px, transparent 0px, transparent 15px, $health-line-color 0px, $health-line-color 17px);
  }
  .consumed {
    background-image: repeating-linear-gradient(45deg, transparent, transparent 0px, transparent 0px, transparent 15px, $health-line-color 0px, $health-line-color 17px),
    repeating-linear-gradient(-45deg, transparent, transparent 0px, transparent 0px, transparent 15px, $health-line-color 0px, $health-line-color 17px),
    repeating-linear-gradient(0deg, transparent, transparent 0px, transparent 0px, transparent 11px, $health-line-color 0px, $health-line-color 13px)
  }
}