@import '../common/constants';

$seperatorColor: $stone;

#grimoire {
  padding: $modulePadding;

  .school-label {
    @extend .panel-label;
    border: 0px solid $seperatorColor;
    border-top-width: 1px;
  }

  .spell-list-wrapper {
    padding: 10px;
    padding-top: 2px;
    width: 50%;
    height: 30em;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .spell-wrapper {
    width: 48%;
    float: left;
  }
}
